<%= vars.ops_manager %> requires that the NSX firewall routes are not blocked. All communication between <%= vars.ops_manager %> VMs and vCenter or ESXi hosts route
through the NSX firewall and are blocked by default.
For more information on which ports to enable, see <a href="https://ports.vmware.com/home/vSphere" target="_blank">VMware Ports and Protocols</a> for vSphere.
