<%= vars.ops_manager %> requires that the NSX firewall routes are not blocked. By default, all communication
between <%= vars.ops_manager %> VMs and vCenter or ESXi hosts route
through the NSX firewall and are blocked.
For more information on which ports to enable, see <a href="https://ports.vmware.com/home/vSphere" target="_blank">VMware ports and protocols</a> for vSphere.
