---
title: Installing Pivotal Platform on AWS using Terraform
owner: Ops Manager
---

<% current_page.data.title = "Installing " + vars.platform_name + " on AWS using Terraform" %>

This topic explains how to install Ops Manager on AWS using Terraform.

## <a id="overview"></a> Overview

After you install Ops Manager on AWS using Terraform,
you can install either the Pivotal Application Service (PAS) or
VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) runtime on the Ops Manager.

1. Configure BOSH Director. See [Configuring BOSH Director on AWS Using Terraform](../aws/config-terraform.html).

## <a id="terraform-pks"></a> Install with TKGI Using Terraform

To install with TKGI using Terraform, do the following:

1. Deploy Ops Manager. For more information, see [Deploying Ops Manager on AWS Using Terraform](../aws/prepare-env-terraform.html).

1. Configure BOSH Director. For more information, see [Configuring BOSH Director on AWS Using Terraform](../aws/config-terraform.html).

## <a id="next"></a> Next Steps

After completing the procedures above, configure a runtime.

For information about installing and configuring a runtime, see the following:

* [Configuring PAS](https://docs.pivotal.io/application-service/2-7/operating/configure-pas.html).
* [Installing TKGI on AWS](https://docs.pivotal.io/tkgi/installing-aws.html).
* [Installing and Configuring TAS for VMs on Windows](https://docs.pivotal.io/application-service/2-7/windows/installing.html)
* [Installing Small Footprint TAS for VMs](https://docs.pivotal.io/application-service/2-7/operating/small-footprint.html#install)
