---
title: Installing Pivotal Platform on Azure Using Terraform
owner: Ops Manager
---

<% current_page.data.title = "Installing " + vars.platform_name + " on Azure Using Terraform" %>

<%= partial "/pcf/warning-terraform" %>

This topic explains how to install Ops Manager on Microsoft Azure using Terraform.

To install Ops Manager on Azure using Terraform:

1. Deploy Ops Manager. For more information, see [Deploying Ops Manager on Azure Using Terraform](../azure/prepare-env-terraform.html).

1. Configure BOSH Director. For more information, see [Configuring BOSH Director on Azure Using Terraform](../azure/config-terraform.html).

## <a id="next"></a> Next Steps

After completing the procedures above, configure a runtime.

For information about installing and configuring a runtime, see the following:

* [Configuring PAS](https://docs.pivotal.io/application-service/2-7/operating/configure-pas.html).
* [Installing TKGI on Azure](https://docs.pivotal.io/tkgi/1-9/installing-cli.html).
* [Installing and Configuring TAS for VMs on Windows](https://docs.pivotal.io/application-service/2-7/windows/installing.html)
* [Installing Small Footprint TAS for VMs](https://docs.pivotal.io/application-service/2-7/operating/small-footprint.html#install)
