---
title: Using the Ops Manager CLI
owner: Ops Manager
---

This topic describes how to use the Ops Manager command line interface (om CLI) to perform common Ops Manager operations.

## <a id="about"></a> About om CLI

om CLI is a tool that helps you configure and deploy tiles to Ops Manager without using the Ops Manager UI. om CLI acts as an interface to the Ops Manager API, making calls simpler and more intuitive.

The om CLI has the following benefits over the Ops Manager API:

- You can `om curl` Ops Manager API calls without sending an authorization token each time

- om CLI commands are simpler and easier to use

For more information about using the om CLI, see [om](https://github.com/pivotal-cf/om) in GitHub.