---
title: Deleting Ops Manager from AWS
owner: Ops Manager
---

This topic describes how to delete the AWS resources associated with a <%= vars.ops_manager_first %> deployment.


## <a id='overview'></a> Overview

When you deploy <%= vars.ops_manager %> to Amazon Web Services (AWS), you provision a set of resources. You can use the AWS console to remove an installation
of all components, but retain the objects in your bucket for a future deployment.


## <a id='prerequisites'></a> Prerequisites

Before you can delete resources from AWS, you must have an account with access to your AWS Management Console.

For more information, see [AWS Management Console](https://aws.amazon.com/console/) in the AWS documentation.


## <a id='delete'></a> Delete Resources from AWS

To delete the resources associated with <%= vars.ops_manager %> from AWS:

1. Log into the AWS Management Console.

1. Navigate to the EC2 Dashboard. You should see the **Resources** pane.

    ![alt-text=""](images/aws/delete-install-step2.png)

1. Select **Instances** from the menu on the left side.
  1. Click **Actions** to open the drop-down menu. Select **Instance State** > **Terminate** to terminate all instances.

      ![alt-text=""](images/aws/delete-install-step3.png)

1. Select **Load Balancers** from the menu on the left side.
  1. Click **Actions** to open the dropdown menu.
  2. Select **Delete** to delete all load balancers.

      ![alt-text=""](images/aws/delete-install-step4.png)

1. From the AWS Console, select **RDS**.

2. Select **Instances** from the menu on the left side.
  1. Select **Instance Actions** to open the drop-down menu.
  2. Click **Delete** to delete all RDS instances.

      ![alt-text=""](images/aws/delete-install-step6.png)

1. The **Delete DB Instance** pane appears.
  1. Select **Create final Snapshot** from the dropdown.
  2. Click **Delete** to delete the database instance.

      ![alt-text=""](images/aws/delete-install-step7.png)

1. From the AWS Console, select **VPC**.

2. Select **Your VPCs** from the menu on the left side.
  1. Select **Actions** to open the dropdown menu.
  2. Click **Delete VPC** to delete the VPCs.

      ![alt-text=""](images/aws/delete-install-step9.png)

1. Click the checkbox to acknowledge that you want to delete your default VPC. Click **Yes, Delete**.

      ![alt-text=""](images/aws/delete-install-step10.png)
