---
title: Installing Pivotal Platform on GCP
owner: Ops Manager
---

<% current_page.data.title = "Installing " + vars.ops_manager + " on GCP"  %>

This topic describes how to install [Ops Manager](https://network.pivotal.io/products/pivotal-cf) on Google Cloud Platform (GCP).

It includes resource requirements, prerequisites, instructions for installing Ops Manager on GCP, and additional resources.

## <a id="overview"></a> Overview

You can install Ops Manager on GCP with either the Pivotal Application Service (PAS) or VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) runtime. There are resource requirements specific to each runtime. Ensure you meet the requirements for your runtime and the requirements specific to GCP before installing Ops Manager on GCP.

## <a id="requirements"></a> Requirements

This section lists the following resource requirements for installing Ops Manager on GCP:

* General Ops Manager resource requirements. See [Ops Manager Resource Requirements](#general-requirements).
* GCP-specific resource requirements. See [GCP Resource Requirements](#gcp-requirements).

### <a id="general-requirements"></a> Ops Manager Resource Requirements

This section lists resource requirements for installing Ops Manager on GCP. It includes links to general resource requirements for both the PAS and TKGI runtimes.

See one of the following topics, depending on the runtime you plan to install using Ops Manager:

* For PAS-specific resource requirements, see [PAS Resource Requirements](https://docs.pivotal.io/application-service/2-7/operating/requirements.html).
* For TKGI-specific resource requirements, see [AWS Prerequisites and Resource Requirements](https://docs.pivotal.io/tkgi/aws-requirements.html).

### <a id="gcp-requirements"></a> GCP Resource Requirements

The following are GCP-specific resource requirements for installing Ops Manager on GCP:

* Installing Ops Manager on GCP requires a minimum of the following VM instance limits in your GCP account. The number of VMs required depends on the number of tiles and availability zones you plan to deploy. The following VM guidelines apply to the PAS and Small Footprint PAS runtimes:

  * **PAS**: At a minimum, a new GCP deployment requires the following `custom` VMs for PAS and Ops Manager:
<table border='1' class='nice'>
  <tr>
    <th width ="33%">VM Count</th>
    <th width ="33%">vCPU Count per VM</th>
    <th width ="33%">RAM (GB)</th>
  </tr><tr>
    <td>28</td>
    <td>1</td>
    <td>1</td>
  </tr><tr>
    <td>2</td>
    <td>2</td>
    <td>1</td>
  </tr><tr>
    <td>3</td>
    <td>1</td>
    <td>2</td>
  </tr><tr>
    <td>4</td>
    <td>2</td>
    <td>4</td>
  </tr><tr>
    <td>3</td>
    <td>2</td>
    <td>8</td>
  </tr><tr>
    <td>3</td>
    <td>4</td>
    <td>16</td>
  </tr>
</table>
<p class="note"><strong>Note:</strong> If you are deploying a test or sandbox Ops Manager that does not require high availability, then you can scale down the number of VM instances in your deployment. For more information, see <a href="https://docs.pivotal.io/application-service/2-7/operating/scaling-ert-components.html">Scaling PAS</a>.</p>

  * **Small Footprint PAS**: At a minimum, a new GCP deployment requires the following VMs to run Small Footprint PAS:
<table id='small-footprint' border="1" class="nice">
  <tr>
    <th width ="15%"></th>
    <th width ="15%">VM Type</th>
    <th width ="15%">VM Count</th>
    <th width ="15%">vCPU Count per VM</th>
    <th width ="15%">RAM (GB)</th>
    <th width ="25%">Notes</th>
  </tr><tr>
    <th rowspan=7>Small Footprint PAS</th>
    <td>micro</td>
    <td>11</td>
    <td>1</td>
    <td>1</td>
    <td>Add 1 to VM count if using HAProxy</td>
  </tr><tr>
    <td>small</td>
    <td>3</td>
    <td>1</td>
    <td>2</td>
    <td></td>
  </tr><tr>
    <td>highcpu</td>
    <td>1</td>
    <td>2</td>
    <td>2</td>
    <td></td>
  </tr><tr>
    <td>xlarge.disk</td>
    <td>1</td>
    <td>4</td>
    <td>16</td>
    <td></td>
  </tr><tr>
    <td>xlarge</td>
    <td>1</td>
    <td>4</td>
    <td>16</td>
    <td></td>
  </tr><tr>
    <td>medium.mem</td>
    <td>1</td>
    <td>1</td>
    <td>6</td>
    <td></td>
  </tr><tr>
    <td>large.disk</td>
    <td>1</td>
    <td>2</td>
    <td>8</td>
    <td></td>
  </tr><tr>
    <th rowspan=2>Ops Manager</th>
    <td>large.disk</td>
    <td>1</td>
    <td>2</td>
    <td>8</td>
    <td></td>
  </tr><tr>
    <td>large.cpu</td>
    <td>4</td>
    <td>4</td>
    <td>4</td>
    <td></td>
  </tr>
</table>
  * **TKGI**: See [GCP Prerequisites and Resource Requirements](https://docs.pivotal.io/pks/gcp-requirements.html).

* (PAS-only) Your GCP project must have sufficient quota to deploy all the VMs needed to install Ops Manager with PAS. For a list of suggested quotas, see [Recommended GCP Quotas](./gcp-quotas.html).


## <a id="prerequisites"></a> Prerequisites

To install Ops Manager on GCP, you must do the following:

* Install the Google Cloud SDK on your machine and authenticate it to your GCP account. To download the Google Cloud SDK, see [Google Cloud SDK](https://cloud.google.com/sdk/).

* Increase or remove the VM instance limits in your GCP account. For VM instance requirements, see [GCP Resource Requirements](#gcp-requirements).

* <a name="#env_account"></a> Update your GCP account with the following required permissions:
   * The following permissions are required to create firewalls, networks, load balancers, and other resources:
     * **Compute Engine** > **Compute Instances Admin (beta)**
     * **Compute Engine** > **Compute Network Admin**
     * **Compute Engine** > **Compute Security Admin**
   * To use Google Cloud Storage (GCS) for Cloud Controller file storage, the following permission is required to create buckets:
     * **Storage** > **Storage Admin**
   * To use Cloud DNS, the following permission is required to add and modify DNS entries:
     * **Project** > **Owner**

* Create an SSL certificate for your Ops Manager domain.
  <p class="note"><strong>Note:</strong> To deploy Ops Manager to a production environment, you must obtain a certificate from a certificate authority. <%= vars.company_name %> recommends using a self-signed certificate generated by Ops Manager for development and testing purposes only.</p>

* Assign administrative rights to a domain for Ops Manager. You need to be able to add wildcard records to this domain.

* Create a wildcard DNS record that points to your router or load balancer. Alternatively, you can use a service such as xip.io. For example, `203.0.113.0.xip.io`. Then, create at least one wildcard TLS certificate that matches the DNS record you configured.
  <p class="note"><strong>Note:</strong>  With a wildcard DNS record, every hostname in your domain resolves to the IP address of your router or load balancer. For example, if you create a DNS record `*.example.com` pointing to your router, every app deployed to the `example.com` domain resolves to the IP address of your router.</p>

* Create one or more NTP servers, if the NTP servers are not already provided by your GCP project.

* Install the most recent version of one of the following CLIs, depending on your Ops Manager runtime:
  * **PAS:** The Cloud Foundry Command Line Interface (cf CLI). See [Cloud Foundry Command Line Interface](https://github.com/cloudfoundry/cli#downloads) in GitHub.
  * **TKGI:** The TKGI CLI. See [Installing the TKGI CLI](https://docs.pivotal.io/pks/installing-pks-cli.html).

* **(PAS-only)** Request a quota increase for your GCP project. For GCP quota requirements, see [GCP Resource Requirements](#gcp-requirements). To request an increase, see [Quotas](https://console.cloud.google.com/iam-admin/quotas) in the GCP console.

* **(PAS-only)** Configure sufficient IP allocation. For more information about IP allocation requirements, see [PAS Resource Requirements](#pas) above.

* **(Optional)** **(PAS-only)** Configure external storage. <%= vars.company_name %> recommends using external storage if possible. For more information about how file storage location affects platform performance and stability during upgrades, see [Configure File Storage](https://docs.pivotal.io/application-service/<%= vars.current_major_version %>/operating/configuring.html#file-storage) in _Configuring PAS for Upgrades_.

* **(Optional)** **(PAS and Ops Manager-only)** Configure external databases. Pivotal recommends using external databases in production deployments for BOSH Director and PAS. An external database must be configured to use the UTC timezone.

* **(Optional)** **(PAS and Ops Manager-only)** Configure external user stores. When you deploy Ops Manager, you can select a SAML user store for Ops Manager or a SAML or LDAP user store for PAS, to integrate existing user accounts.


## <a id="install"></a> Install Ops Manager on GCP

You can install Ops Manager on GCP.

To install Ops Manager on GCP, see [Installing Ops Manager on GCP](gcp-manual.html)


## <a id="resources"></a> Additional Resources

The following are additional resources related to installing Ops Manager on GCP:

- For general authentication guidelines for GCP, see [GCP authentication documentation](https://cloud.google.com/docs/authentication).
- For more information about troubleshooting the Ops Manager on GCP infrastructure, see [Troubleshooting Ops Manager on GCP](https://docs.pivotal.io/application-service/2-7/operating/gcp-troubleshooting.html).
- For production-level deployment options for Ops Manager on GCP, see [GCP Reference Architecture](../refarch/gcp/gcp_ref_arch.html).
- For general certificate requirements for deploying Ops Manager, see [Certificate Requirements](https://docs.pivotal.io/application-service/2-7/adminguide/securing-traffic.html#certtypes).
