---
title: Monitoring your Tanzu Operations Manager VMs in vSphere
owner: Ops Manager
---

This topic describes how you can use the vSphere client to perform ongoing monitoring and
alerting of VMs deployed by <%= vars.ops_manager_first %>.

For a complete guide to monitoring <%= vars.ops_manager %>,
see the [<%= vars.app_runtime_first %>
documentation](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.dot_major_tas_version %>/tas-for-vms/monitoring-index.html).

## <a id='vsphere'></a> Monitoring in vSphere

To monitor VMs using the vSphere client:

1. Connect to a vCenter Server instance using the vSphere client.

1. Go to the **Hosts And Clusters** or **VMs And Templates** inventory view.

1. In the inventory tree, click a virtual machine.

1. Click the **Performance** tab.

VMware vSphere Server provides alarms that monitor VMs, as well as clusters, hosts, data centers, datastores, networks, and licensing.

To view pre-configured alarms, including disk usage alarms, related to a particular VM:

1. In the vSphere client, click the VM you want to monitor.

1. Click **Alarms**.

1. If a VM starts to run out of disk space, an alarm appears in the panel.
