---
title: Managing Multiple Data Centers
owner: Ops Manager
iaas: vSphere and OpenStack
---

This topic describes how you can add, delete, and modify multiple data centers in the IaaS config pane of the BOSH Director tile. This allows you to spread instances across regions without having to deploy and manage multiple <%= vars.ops_manager_first %> foundations.

<p class='note'><strong>Note:</strong> You can only have multiple data centers with vSphere and OpenStack.</p>


## <a id='add-config'></a> Add a New IaaS Config

When you have only one IaaS config, you do not see a list of IaaS configs when you select the IaaS configs pane. Instead, you see the form to the one config and an option to add more.

To add a new IaaS config:

1. Click **Add vCenter Config** or **Add OpenStack Config**.
<%= image_tag( "./images/vcenters-buttons.png", :alt => "" ) %>

1. Enter a unique **Name** for your config.

2. Complete the rest of the form.
  - For more information about the fields in vSphere, see _Step 2: Configure vCenter_ in [Configuring BOSH Director on vSphere](../vsphere/config.html#vcenter-config).
  - For more information about the fields in OpenStack, see _Step 2: OpenStack Configs Page_ in [Configuring BOSH Director on OpenStack](../openstack/config.html#openstack-config).

1. Click **Save**.

2. Go to the **Create Availability Zones** pane.

3. Create one or more AZs and associate them to your IaaS config with the **IaaS Configuration** field.

4. Click **Save**.


## <a id='modify-configs'></a> Modify an IaaS Config

To modify one of multiple IaaS configs:

1. Go to the list of configs by selecting the IaaS config pane.
<%= image_tag( "./images/vcenters-list.png", :alt => "The vCenter Config pane has a header labeled List of vCenter Configs, followed by the names of each vCenter next to a pencil icon. There is also an Add vCenter Config button." ) %>

1. Click the pencil icon.

2. Edit the fields you want to change.

3. Click **Save**.


## <a id='delete-configs'></a> Delete an IaaS Config

To delete your IaaS config:

1. From the BOSH Director tile, go to the **Create Availability Zones** pane.

1. Click the trashcan icon to disassociate each AZ with your IaaS config. To know which AZs are associated, expand each AZ and see **IaaS Configuration**.
	<p class='note'><strong>Note:</strong> <%= vars.ops_manager %> does not allow you to delete your first AZ or your first IaaS config. Your first AZ is always associated with your first IaaS config.</p>

1. Click **Save**

1. Go to the IaaS config pane.

1. Click the trashcan icon to delete your IaaS config.

1. Click **Save**.
