---
title: Installing Pivotal Platform on vSphere
owner: Ops Manager
iaas: vSphere
---

<% current_page.data.title = "Installing " + vars.ops_manager + " on vSphere"  %>

This guide describes how to install [Ops Manager](https://network.pivotal.io/products/pivotal-cf) on vSphere.

If you experience a problem while following the steps below, see [Diagnosing Deployment Problems](https://docs.pivotal.io/application-service/2-7/operating/diagnostics.html) or the _Known Issues_ sections of the following topics:

* [Ops Manager v2.7 Release Notes](../release-notes.html#known-issues) in the Ops Manager documentation

* [Pivotal Application Service v2.7 Release Notes](https://docs.pivotal.io/application-service/release-notes/runtime-rn.html#known-issues) in the PAS documentation

* [Pivotal Isolation Segment v2.7 Release Notes](https://docs.pivotal.io/application-service/release-notes/segment-rn.html#known-issues) in the PAS documentation

 [Pivotal Application Service for Windows v2.7 Release Notes](https://docs.pivotal.io/application-service/2-7/windows/release-notes.html#known-issues) in the PASW documentation

* [Release Notes](https://docs.pivotal.io/tkgi/release-notes.html#known-issues) in the TKGI documentation


## <a id='prerequisites'></a> Requirements

This section describes the resource requirements for installing Ops Manager.

<p class='note'><strong>Note:</strong> If you are using the Cisco Nexus 1000v Switch, see <a href="nexus-switch.html">Using the Cisco Nexus 1000v Switch with Ops Manager</a> for more information.</p>

<p class='note'><strong>Note:</strong> When installing Ops Manager on a vSphere environment with multiple ESXi hosts, you must use network-attached or shared storage devices. Local storage devices do not support sharing across multiple ESXi hosts.</p>

### <a id='runtimes'></a> Resource Requirements

You can install Ops Manager with one of two runtimes. For more information about the requirements for each runtime, see the following:

* **Pivotal Application Service (PAS)**: [PAS on vSphere Requirements](https://docs.pivotal.io/application-service/2-7/operating/pas-vsphere-requirements.html). For information requirements when deploying with NSX-T, see the _Requirements_ section of [Deploying PAS with NSX-T Networking](https://docs.pivotal.io/application-service/2-7/operating/vsphere-nsx-t.html).
* **VMware Tanzu Kubernetes Grid Integrated Edition (TKGI)**:
    * **Without NSX-T**: [vSphere Prerequisites and Resource Requirements](https://docs.pivotal.io/pks/vsphere-requirements.html)
    * **With NSX-T**: See the _Preparing to Install TKGI on vSphere with NSX-T_ section of [Installing TKGI on vSphere with NSX-T Data Center](https://docs.pivotal.io/pks/vsphere-nsxt-index.html).

### <a id='firewall'></a> Firewall Port Requirements

<%= partial '../common/vsphere-firewall-ports' %>

### <a id='permissions'></a> vSphere Service Account Requirements

Ops Manager requires read/write permissions to the data center level of the [vSphere Inventory Hierarchy](https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.security.doc/GUID-03B36057-B38C-479C-BD78-341CD83A0584.html) to successfully install. Pivotal recommends defining a custom role for the service account that has all privileges for all objects in the data center, including propagating privileges to children.

Since Ops Manager passes all required credentials through to BOSH, you only need one service account with the required vSphere privileges to complete the installation. Setting up separate service accounts for Ops Manager and BOSH is not necessary or recommended.

For more information about service account requirements, see the following topics:

* **PAS:** [vSphere Service Account Requirements](../vsphere/vsphere-service-account.html)
* **TKGI:** [Create the BOSH/Ops Manager Service Account](https://docs.pivotal.io/pks/vsphere-prepare-env.html#create-bosh-ops-man) in _Preparing vSphere Before Deploying TKGI_

<p class="note"><strong>Note:</strong> You can also apply the default <a href="http://pubs.vmware.com/vsphere-51/topic/com.vmware.wssdk.pg.doc/PG_Appx_Privileges_Reference.22.4.html">VMware Administrator System Role</a> to the service account to achieve the appropriate permission level.</p>

### <a id="security"></a> vSphere Security Documents

The following guides contain best practices for securing and managing a vSphere installation:

* [vSphere v6.5 Security Guide (PDF)](http://pubs.vmware.com/vsphere-65/topic/com.vmware.ICbase/PDF/vsphere-esxi-vcenter-server-65-security-guide.pdf)

* [vSphere v6.7 Security Guide (PDF)](https://docs.vmware.com/en/VMware-vSphere/6.7/vsphere-esxi-vcenter-server-67-security-guide.pdf)

* [vSphere v7.0 Security Guide (PDF)](https://docs.vmware.com/en/VMware-vSphere/7.0/vsphere-esxi-vcenter-server-70-security-guide.pdf)


## <a id='procedure'></a> Procedure

This section describes the steps for installing Ops Manager.

### <a id='install-om'></a> Step 1: Install Ops Manager

Complete the following procedures to install Ops Manager on vSphere:

1. [Deploying Ops Manager to vSphere](../vsphere/deploy.html)

1. [Configuring BOSH Director on vSphere](../vsphere/config.html)

## <a id='additional'></a> Additional Configuration

See the following topics for additional configuration options:

* [vSphere Virtual Disk Types](https://docs.pivotal.io/application-service/2-7/operating/disk-format.html)
* [Using the BOSH Resurrector](./resurrector.html)
* [Availability Zones in vSphere](./understand-az.html)

## <a id="next"></a> Next Steps

After completing the procedures above, configure a runtime.

For information about installing and configuring a runtime, see the following:

* **PAS:**
    * **Without NSX-T:** [Configuring PAS](https://docs.pivotal.io/application-service/2-7/operating/configure-pas.html)
    * **With NSX-T:** [Deploying PAS with NSX-T Networking](https://docs.pivotal.io/application-service/2-7/operating/vsphere-nsx-t.html)
        <p class="note"><strong>Note</strong>: You must install the NSX-T tile before you install or Upgrade the PAS tile.</p>
* **TKGI:**
    * **Without NSX-T:** [Installing TKGI](https://docs.pivotal.io/tkgi/vsphere-index.html)
    * **With NSX-T:** [Deploying NSX-T for TKGI](https://docs.pivotal.io/tkgi/nsxt-deploy.html)
* [Installing and Configuring TAS for VMs on Windows](https://docs.pivotal.io/application-service/2-7/windows/installing.html)
* [Installing Small Footprint TAS for VMs](https://docs.pivotal.io/application-service/2-7/operating/small-footprint.html#install)
