<p class='note'><strong>Note:</strong> You can set a value to override the duration for certificates within the BOSH Director tile. <%= vars.company_name %> recommends that you set the value before starting a certificate rotation. For more information, see <a href="configure-certificate-duration-overrides.html">Overriding Duration for Certificates</a>.</p>
