<p class='note'><strong>Note:</strong> You can set a minimum duration for certificates within the BOSH Director tile. <%= vars.company_name %> recommends that you set the value before starting a certificate rotation. For more information, see <a href="configure-certificate-minimum-duration.html">Configuring Minimum Duration for Certificates</a>.</p>
