<p class='note'><strong>Note:</strong> You can skip the recreate steps if you are using Ops Manager 2.10.20 or higher and all VMs are deployed with stemcell Xenial 621.171 or higher and Windows 2019.41 or higher.</p>
